
<div class='login'>
<h2>Faça seu login</h2>
<%= form_for :session, url: sign_in_path do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :Senha %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <div class="actions">
    <%= f.submit "Entrar" %>
  </div>
<p>Não possui uma conta?<%= link_to "Crie uma agora", new_user_path %></p>
<% end %>
</div>