<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      

      <ul>
      <li>Os seguintes erros ocorreram</li>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <% @adm=User.find_by admistrador:true%>
  <% if !(@current_user.nil?)&&(@current_user.admistrador==true) || @adm.nil?%>
  <div class="field">
    <%= form.label :admistrador %>
    <%= form.check_box :admistrador %>
  </div>
  <% end %>
  <% if !logged_in? %>
    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>
    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
