<div class="user_index">
  <p id="notice"><%= notice %></p>

  <h2>Usuarios registrados</h2>


  
  <% @users.each do |user| %>
    <ul>
      
      <li>Nome: <%= user.name %></li>
      <li>Email: <%= user.email %></li>
      
      <li><%=link_to 'Show', user %></li>
      <li><%= link_to 'Edit', edit_user_path(user) %></li>
      <li><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    
    </ul>
  <% end %>
  
</div>