<div class="user_show">
  
  <p id="notice"><%= notice %></p>
  <h2>Página de <%=@user.name%></h2>
  <ul>
  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>
  <li>
  
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  
  <li><%= link_to 'Edit', edit_user_path(@user) %></li>
  
  <% if @user==@current_user%>
    <li><%=link_to 'Novo endereço',new_address_path%></li>
    <li><%= link_to  "Sair", sign_out_path,method: :delete %></li>
    <% if @user.admistrador==true%>
      <li><%= link_to  "Lista de usuario", users_path %></li>
    <% end %>
  <%end%>
  </ul>
  <%@user.addresses.each do |add|%>
  <h2>Seus endereços</h2>
  <ul>
    <li>Cidade: <%= add.city %></li>
    <li>Rua: <%= add.street %></li>
    <li>numero: <%= add.number %></li>
    <li>complemento: <%= add.complement %></li>
    <li> cep:<%=add.cep%></li>
    <li><%= link_to  "remover", add,method: :delete %></li>
    <li><%= link_to  "editar", edit_address_path(add) %></li>
   
  </ul>
  <%end%>
</div>