<div class="food_index">
  <h2>Cardápio</h2>
  <% if logged_in?%>
    <% if @current_user.admistrador==true %>
      <div class='aux'><%= link_to  "adicionar produto", new_food_path %></div>
    <%end%>
  <%end%>  
  <h2>Pizzas Salgadas</h2>
  <% (@foods.where kind:'pizza salgada').each do |food| %>
    <ul>
      <li><%= food.name %></li>
      
      <li>preço:<%= food.price %>reais</li>
      <li>ingredientes: <%= food.info %><li>
      
      <li><%= link_to 'ver mais', food %></li>
      <% if logged_in?%>
        <% if @current_user.admistrador==true %>
          <li><%= link_to 'editar', edit_food_path(food) %></li>
          <li><%= link_to 'destruir', food, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        
        <%end%>
      <%end%>
      </ul>
  <% end %>
    <h2>Pizzas Doces</h2>
  <% (@foods.where kind:'pizza doce').each do |food| %>
    <ul>
     <li><%= food.name %></li>
      
      <li>preço:<%= food.price %>reais</li>
      <li>ingredientes: <%= food.info %><li>
      <li><%= link_to 'ver mais', food %></li>
      <% if @current_user.admistrador==true %>
        <li><%= link_to 'editar', edit_food_path(food) %></li>
        <li><%= link_to 'destroir', food, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
      <%end%>
  <% end %>

    <h2>Bebidas</h2>
  <% (@foods.where kind:'bebida').each do |food| %>
    <ul>
      <li><%= food.name %></li>
      
      <li>preço:<%= food.price %>reais</li>
      <li>ingredientes: <%= food.info %><li>
      <li><%= link_to 'ver mais', food %></li>
      <% if logged_in?%>
        <% if @current_user.admistrador==true %>
          <li><%= link_to 'editar', edit_food_path(food) %></li>
          <li><%= link_to 'destruir', food, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <%end%>
      <%end%>
      </ul>
  <% end %>

    <h2>Promoção</h2>
  <% (@foods.where kind:'promoção').each do |food| %>
    <ul>
      <li><%= food.name %></li>
      
      <li>preço:<%= food.price %>reais</li>
      <li>ingredientes: <%= food.info %><li>
      <li><%= link_to 'ver mais', food %></li>
      <% if logged_in?%>
        <% if @current_user.admistrador==true %>
          <li><%= link_to 'editar', edit_food_path(food) %></li>
          <li><%= link_to 'destruir', food, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <%end%>
      <%end%>
      </ul>
  <% end %>
</div>
