<%= form_with(model: address, local: true) do |form|%>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cidade %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :rua %>
    <%= form.text_field :street %>
  </div>

  <div class="field">
    <%= form.label :numero %>
    <%= form.text_field :number %>
  </div>
  <div class="field">
    <%= form.label :complemento %>
    <%= form.text_field :complement%>
  </div>
  
  <div class="field">
    <%= form.label :cep %>
    <%= form.text_field :cep%>
  </div>

  

  <div class="actions">
    <%= form.submit :enviar %>
  </div>
<% end %>
