// Place all the styles related to the Addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.address h2{
    margin-left: 40%;
}

.address a{
    
    transform: translate(-50%,0);
    margin-left: 37.2%;
}
.address .actions{
    margin-bottom: 20px;
}