/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 :root{
     --vinho-bar:#820404;
     
     --bege-background:#ECEDC3;

     --red-primary:#BF2220;

     --white-primary:#fafafa;

     --black-primary:#222222;

     --orage-hover:#EE4F2C;
     
 }



//fonts

@font-face{
    font-family:'RockSalt';
    src: url("RockSalt-Regular.ttf");
}




 //todas as paginas//
 html,body{
    background-color: var(--bege-background);
    
    width: 100%;
    height: 100%;
    margin: 0px;
}

//corpo carregado do back
.wrapper{
    margin-top: 60px;
}
a{
    text-decoration: none;
    color:var(--red-primary);
    transition: 0.2s;
    
}
a:hover{
    font-weight: bolder;
    transition: 0.2s;
}
h2{
    margin-left: 50%;
    margin-top:60px;
    margin-bottom: 40px;
    text-align: center;
    transform: translate(-50%,0);
    color: var(--red-primary);
    font-size: 1.75em;

}
.wrapper p{
    width: 60%;
    text-align: center;
    transform: translate(-50%,0);
    margin-left: 50%;
    margin-bottom: 30px;
}
//formularios



.field{
    text-align: left;
    width:300px;
    margin:0 40%;
    transform: translate(-50%,0);
    margin-bottom: 40px;
}
.field label{
    font-size: 1.25em;
    
    
}
.field input{
    width: 300px;
    margin-top: 10px;
    border: solid var(--black-primary) 1px;
    border-radius: 6%;
}
.actions input{
    padding: 15px 10px;
    background-color: var(--white-primary);
    border: solid var(--black-primary) 1px;
    color: var(--black-primary);
    text-transform: uppercase;
    transform: translate(-50%,0);
    font-weight: bold;
    margin-left: 40%;
    transition: 0.4s;
    margin-bottom: 40px;
}

.actions input:hover{
    color:var(--white-primary);
    background-color: var(--black-primary);
    transition: 0.4s;
}
//erros do fomulario
#error_explanation{
    background-color: var(--white-primary);
    width:500px;
    text-align: center;
    font-size: 1.2em;
    color: var(--red-primary);
    border: 2px solid var(--red-primary);
    transform: translate(-50%,0);
    margin-left:40%;
    margin-bottom: 30px;
}
#error_explanation ul li{
    margin:10px 0;
}