// Place all the styles related to the Foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "application.css.scss";
.food_index ul{
border: 1px solid var(--black-primary);
width:50%;
transform: translate(-50%,0);
margin-left:50%;
margin-bottom: 60px;
}
.food_index li{
    margin: 20px 0;
    text-align: center;
}
.food_index .aux{
    margin-left: 40%;
    width: 165px;
    transform: translate(20%,0);
    margin-bottom: 50px;
    
}
.food_show img{
    width:30%;
    transform: translate(-50%,0);
    margin-left:50%;
    margin-bottom: 30px;
}
.food_show p{
    text-align: center;
    padding: 10px;
    font-size: 1.25em;
    color:var(--red-primary);
}