@import "application.css.scss";

footer{
    background-color:var(--vinho-bar);
    height: 90px;
    color: var(--white-primary);
    
}
footer div{
    position: relative;
    transform: translate(-50%,-50%);
    left:50%;
    top:50%;
    text-align: center;
}
footer a{
    color: var(--white-primary);
    text-decoration: none;
    font-size: 1.5em;
}