@import "application.css.scss";
header{
    
    width: 100%;
} 
header .bar {
    background-color: var(--vinho-bar);
    height: 60px;
}
nav{
    height: 100%;
}
header ul{
    display: inline-block;
    padding: 0 10%;
    margin-left: 3%;
    height:100%;
    width: 50%;
}

header ul li{
    display: inline-block;
    margin:0 3%;
    margin-top: 4%;
    text-decoration: none;
}

header ul li a{
    color:var(--white-primary);
    text-decoration: none;
    padding: 12px;
    border-radius: 60%;
    transition: 0.3s
}
header ul li a:hover{
    background-color: var(--orage-hover);
    transition: 0.3s;

}


header .bar img{
    position: relative;
    top:-100%;
    left:80%;
    border-radius: 100%;
    
}

header .title{
    height:300px;
    background-image: image-url('pizza_fundo.jpg');
    background-size: 100%;
    
}

header .title h1{
    position: relative;

    top:40%;
    width:500px;
    text-align: center;
    left:35%;
    transform: translate(-50%,0);
    
    font-size: 3em;
    font-family:'RockSalt';
    color: var(--red-primary);
}
header .title img{
    position: relative;
    width: 5%;
    left:55%;
    top:-5%;

    transform: rotate(-115deg)
}

