// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "application.css.scss";
.login h2{
    
    margin-left: 40%;
    margin-top: 60px;
}
.login p{
    font-size: 1.2em;
    margin-left: 50%;
    transform: translate(-50%,0);
    margin-top: 20px;
}
