// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "application.css.scss";
.prom h3{
    color:var(--red-primary);
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}

.prom img{
    transform: translate(-50%,0);
    margin-left:50%;
    margin-bottom: 20px;
    

}
.prom p{
    color:var(--red-primary);
    width: 25%;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 2px solid var(--black-primary);

}
