// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "application.css.scss";
.new_user h2,.user_edit h2{
    margin-left: 40%;
}
.user_edit a{
    transform: translate(-50%,0);
    margin-left: 40%;
}
.user_index ul,.user_show ul{
    border: 1px solid var(--black-primary);
    width:50%;
    transform: translate(-50%,0);
    margin-left:50%;
    margin-bottom: 60px;

}
.user_index p,.user_show p{
    color:var(--red-primary);
    text-align: center;
    font-size: 1.2em;
    margin-top: 40px; 
}
.user_index li,.user_show li{
    margin: 20px 0;
    text-align: center;
    
}
