<!DOCTYPE html>
<html>
  <head>
    <title>PeDePizza</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <section class="bar">
        <nav>
          <ul>
            <li><%= link_to 'Home', root_path %></li>    
            <%if !logged_in?%>
              <li><%=link_to 'Login', sign_in_path%></li>
            <% else %>
              <li><%=link_to 'Seu Perfil',user_path(@current_user)%></li>
            <% end %>
            <li><%= link_to 'Cardapio', foods_path%></li>
          
          </ul>
        <nav>
        <%= image_tag('logo.png')%>
      </section>
      <section class='title'>
      <h1>Pé de Pizza</h1>
      <%= image_tag('ketchup.png')%>
      </section class='tt'>
      
    </header>
    
    <%= yield %>
    
   
    
    <footer>
      <div>
      <a href="#">facebook |</a>
      
      <a href="#">instagram</a>
    </footer>
  </body>
</html>
